input {
    background-color: black;
    border-color: black;
    color: cornsilk;
    width: 50px;
}

body {
    background-color: whitesmoke;
}

#risultato
{
    width: 215px;
    background-color: black;
    color: cornsilk;
}

.large {
    width: 105px;
}